---

import { Icon } from 'astro-iconify';
---

<section>
    <div class="container flex items-center min-h-screen px-6 py-12 mx-auto">
        <div class="flex flex-col items-center max-w-sm mx-auto text-center">
            <p class="p-3 text-sm font-medium text-blue-500 rounded-full bg-blue-50 dark:bg-gray-800">
                <Icon name="mdi:error-outline" class="text-blue-600 w-12" />
            </p>
            <h1 class="mt-3 text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl">Page not found</h1>
            <p class="mt-4 text-gray-500 dark:text-gray-400">The page you are looking for doesn't exist. Here are some helpful links:</p>

            <a href="/">
                <button class="px-5 py-2 tracking-wide mt-6 mx-auto text-white bg-blue-600 rounded-lg">
                    Back to home
                </button>
            </a>
        </div>
    </div>
</section>