---
import '@fontsource/poppins';
import '@fontsource/mr-de-haviland';
import '@fontsource/the-nautigal';
import Logo from './logo.astro';
import { Icon } from 'astro-iconify';

const links = [
  { name: "Home", href: "/", current: true },
  { name: "Katalog", href: "/katalog", current: true },
  { name: "Harga", href: "/harga", current: true },
  { name: "Contact", href: "/contact", current: true },
];
---

<nav class="px-6 py-6 mx-auto shadow">
  <div class="container mx-auto md:flex items-center justify-between">
    <div class="flex items-center justify-between">
      <Logo file="JejakBahagia" />
      <div class="md:hidden">
        <svg
          id="icon1"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="gray-800"
          class="size-6 stroke-gray-800">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"></path>
        </svg>
        <svg
          id="icon2"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="gray-800"
          class="size-6 hidden stroke-gray-800">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"></path>
        </svg>
      </div>
    </div>
    <ul
      id="menu"
      class="flex flex-col md:flex-row gap-6 mt-8 md:mt-0 hidden md:flex">
      {
        links.map((link) => (
          <li class="border-b pb-2 md:border-none md:pb-0">
            <a
              href={link.href}
              class="text-gray-800 font-poppins hover:text-blue-600 hover:font-bold">
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
    <div id="btn" class="relative w-max mt-5 md:mt-0 hidden md:flex justify-end">
      <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!" class="flex flex-row items-center justify-center gap-1 px-4 py-3 rounded-md tracking-wider text-center text-white transition-colors duration-300 bg-blue-700 hover:bg-blue-700">Konsultasi<Icon name="mdi:whatsapp" class="w-5 h-5 text-white" /></a>
    </div>
  </div>
</nav>
<script>
  document.getElementById("icon1").addEventListener("click", function () {
    document.getElementById("icon1").classList.add("hidden");
    document.getElementById("icon2").classList.remove("hidden");
    document.getElementById("menu").classList.remove("hidden");
    document.getElementById("btn").classList.remove("hidden");
  });
  document.getElementById("icon2").addEventListener("click", function () {
    document.getElementById("icon2").classList.add("hidden");
    document.getElementById("icon1").classList.remove("hidden");
    document.getElementById("menu").classList.add("hidden");
    document.getElementById("btn").classList.add("hidden");
  });

  const links = Array.from(
    document.querySelectorAll<HTMLAnchorElement>("#menu a")
  );

  links.forEach((link) => {
    link.addEventListener("click", function () {
      links.forEach((l) => l.classList.remove("active"));
      this.classList.add("active");
    });
  });
</script>