---
const { file } = Astro.props
---

<div class="flex items-center justify-between z-10">
    <a href="/" class="">
      <img src=`/assets/${file}.png` alt="JejakBahagia" class="w-36 h-full"/>
    </a>
  </div>