---
import '@fontsource/the-nautigal';
import '@fontsource/mr-de-haviland';
import Logo from '../components/logo.astro';
---


<section class="absolute z-50 bottom-0 left-1/2 transform -translate-x-1/2 py-8 mx-auto">
    <div class="container text-center mx-auto relative z-10">
      <div class="flex flex-col items-center justify-center">
         <p class="mx-auto font-poppins text-gray-800 text-center flex justify-center items-center gap-1">Made with by</p>
         <Logo file="JejakBahagia"/>
      </div>
    </div>
    </div>
  </section>